.contain{
    height: 150px;
}

.userChat{
    display: flex;
    place-items: center;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
}

.userChat:hover{
    background-color: black;
}

.userChatInfo{
    margin-left: 20px;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

.msg{
    font-size: small;
}

.circle{
    border: 1px solid white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
} 

.name{
    font-size: larger;
}

.letter{
    padding-top: 6px;
    font-weight: 900;
    font-size: "60px";
}