.chatMessageHeader {
    width: 1000px;
    height: 50px;
}

.chatInfo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}

.nameHeading {
    font-weight: 900;
}

.chatIcons {
    margin-right: 20px;
}